#caixa {
    margin-top: 50px;
    border: 1px solid;
    height: 100px;
    padding: 10px;
}

button {
    color: white;
    border: none;
    background-color: rgba(35, 35, 209, 0.813);
    height: 25px;
    border-radius: 5px; 
    cursor: pointer;
}



